<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cssa.wxcloudrun.dao.ActivityMapper">

    <resultMap id="ActivityMap" type="Activity">
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="additionalInfoJSON" column="additional_info"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="imagesJSON" column="images"/>
        <result property="paymentJSON" column="payment"/>
    </resultMap>

    <resultMap id="SignupInfoMap" type="SignupInfo">
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="actID" column="act_id"/>
        <result property="userID" column="user_id"/>
        <result property="isPaid" column="is_paid"/>
        <result property="responseJSON" column="response"/>
    </resultMap>

    <select id="getActivityList" resultMap="ActivityMap">
        SELECT activity.id as id,
               COUNT(if(activity_responses.deleted_at is NULL, user_id, NULL)) as userJoinedNum,
               title,
               start_date,
               end_date,
               deadline,
               location,
               price,
               capacity,
               images,
               additional_info,
               description,
               payment,
               activity.created_at
        FROM activity
                 LEFT JOIN activity_responses ON activity.id = activity_responses.act_id
        WHERE activity.deadline >= CURRENT_TIMESTAMP
          AND activity.deleted_at IS null
        GROUP BY activity.id,
                 title,
                 start_date,
                 end_date,
                 deadline,
                 location,
                 price,
                 capacity,
                 images,
                 additional_info,
                 description,
                 payment,
                 activity.created_at
        ORDER BY activity.id
    </select>

    <select id="findActivity" resultType="Activity">
        SELECT activity.*,
               COUNT(if(activity_responses.deleted_at is NULL, user_id, NULL)) as userJoinedNum
        FROM activity
        	LEFT JOIN activity_responses ON activity.id = activity_responses.act_id
        WHERE activity.id = #{id}
          AND activity.deleted_at IS NULL
    </select>

    <select id="checkRegistration" resultMap="SignupInfoMap">
        SELECT *
        FROM activity_responses
        WHERE user_id = #{userID}
          AND act_id = #{actID}
          AND deleted_at IS NULL
        LIMIT 1
    </select>

    <select id="getRegisterList" parameterType="String" resultMap="ActivityMap">
        SELECT activity.id,
               title,
               start_date,
               end_date,
               location,
               price,
               capacity,
               images,
               additional_info,
               description,
               payment,
               activity.created_at
        FROM activity_responses
                 RIGHT JOIN activity ON activity.id = activity_responses.act_id
        WHERE activity_responses.user_id = #{userID}
          AND activity.deleted_at IS NULL
          AND activity_responses.deleted_at IS NULL
        ORDER BY activity.id
    </select>

    <insert id="registerActivity" parameterType="SignupInfo">
        INSERT INTO activity_responses (act_id, user_id, response)
        VALUES (#{actID}, #{userID}, #{responseJSON})
        ON DUPLICATE KEY UPDATE response   = #{responseJSON},
                                deleted_at = NULL
    </insert>

    <update id="cancelRegister">
        UPDATE activity_responses
        SET deleted_at = CURRENT_TIMESTAMP
        WHERE act_id = #{actID}
          AND user_id = #{userID}
    </update>


</mapper>
