<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ActivityMapper">


    <insert id="createActivity" parameterType="Activity">
        INSERT INTO activity (title,startDate,location,price,capacity,imgs,additionalInfoJSON,description) values (#{title},#{startDate},#{location},#{price},#{capacity},#{imgs},#{additionalInfoJSON},#{description})
    </insert>

    <select id="checkSignup" resultType="SignupInfo">
        SELECT actID, response FROM signup_activity,activity where userID = #{userID} and signup_activity.actID = activity.actID and activity.startDate &gt; #{date}
    </select>

    <select id="getActivityList" parameterType="java.sql.Timestamp" resultType="Activity">
        SELECT title,startDate,location,price,capacity,imgs,additionalInfoJSON,description,userJoinedNum FROM activity WHERE startDate &gt; #{current}
    </select>

    <update id="updateActivity" parameterType="Activity">
        UPDATE activity SET userJoinedNum=#{userJoinedNum} WHERE actID =#{actID}
    </update>

    <insert id="recordResponse" parameterType="SignupInfo">
        INSERT INTO signup_activity (userID,actID,response) values (#{userID},#{actID},#{response})
    </insert>

    <select id="findActivity" parameterType="Integer">
        SELECT startDate,userJoinedNum FROM activity where actID = #{actID}
    </select>

</mapper>
