<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.AdminMapper">

    <select id="getActivityList" resultType="Activity">
        SELECT
            activity.actID,
            COUNT(userID) as userJoinedNum,
            title,
            startDate,
            endDate,
            location,
            price,
            capacity,
            imgs,
            additionalInfoJSON,
            description,
            imgs
        FROM
            signup_activity
                RIGHT JOIN activity ON activity.actID = signup_activity.actID
        WHERE activity.startDate &gt; 19700101010000
        GROUP BY
            activity.actID,
            title,
            startDate,
            endDate,
            location,
            price,
            capacity,
            imgs,
            additionalInfoJSON,
            description
        ORDER BY activity.actID DESC
    </select>

    <insert id="createActivity" parameterType="Activity">
        INSERT INTO activity (title,startDate,endDate,location,price,capacity,imgs,additionalInfoJSON,description) values (#{title},#{startDate},#{endDate},#{location},#{price},#{capacity},#{imgs},#{additionalInfoJSON},#{description})
    </insert>

    <select id="login" parameterType="Admin" resultType="Integer">
        SELECT COUNT(username) FROM admin WHERE username = #{username} AND password = #{password}
    </select>

    <update id="deleteActivity" parameterType="map">
        UPDATE activity SET startDate = #{timestamp} AND endDate = #{timestamp} WHERE actID = #{actID}
    </update>

    <select id="getActivitySignup" parameterType="String" resultType="SignupInfo">
        SELECT
            signup_activity.response as responseJSON,
            signup_activity.payment,
            user.nickname
        FROM
            signup_activity
                right join user ON user.userID = signup_activity.userID
        WHERE
            signup_activity.actID = #{actID}
    </select>

    <select id="getActivity" parameterType="String" resultType="Activity">
        SELECT title,startDate,location FROM activity WHERE  actID = #{actID}
    </select>
</mapper>