<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CourseMapper">

    <insert id="saveComment" parameterType="Comment">
        INSERT INTO comment (userID,courseID,professor,courseTime,difficulty,prefer,comment) VALUES (#{userID},#{courseID},#{professor},#{courseTime},#{difficulty},#{prefer},#{comment})
    </insert>

    <select id="getAllCourseList"  resultType="Course">
        SELECT courseID, departmentID, courseName, departmentAbrev, courseNum, avgDifficulty, avgPrefer, credit, commentCount FROM course ORDER BY ${field} ${order} LIMIT #{offset}, #{limit}
    </select>

    <select id="getCourseList" resultType="Course">
        SELECT courseID, departmentID, courseName, departmentAbrev, courseNum, avgDifficulty, avgPrefer, credit, commentCount FROM course WHERE departmentID = #{departmentID} ORDER BY ${field} ${order}
    </select>

    <update id="updateCourse" parameterType="Course">
        UPDATE course SET avgDifficulty = #{avgDifficulty}, avgPrefer = #{avgPrefer}, commentCount = #{commentCount} WHERE courseID = #{courseID}
    </update>

    <select id="getCourse" resultType="Course">
        SELECT courseID, departmentID, courseName, departmentAbrev, courseNum, avgDifficulty, avgPrefer, credit, commentCount FROM course WHERE courseID in
        <foreach item="course" collection="courseID" separator="," open="(" close=")" index="index">
            #{course}
        </foreach>
    </select>

    <update id="incrementCount" parameterType="Integer">
        UPDATE comment SET likeCount = likeCount + 1 WHERE commentID = #{commentID};
    </update>

    <update id="setLikeList">
        UPDATE user SET likedCommentJSON= #{likedCommentJSON} WHERE userID= #{userID};
    </update>

    <select id="getUser" parameterType="String" resultType="User">
        SELECT * FROM user WHERE userID = #{userID}
    </select>

    <select id="getComment" parameterType="Integer" resultType="Comment">
        SELECT commentID,reportListJSON FROM comment WHERE commentID = #{commentID}
    </select>

    <update id="addReportList" parameterType="Comment">
        UPDATE comment SET reportListJSON = #{reportListJSON} WHERE commentID = #{commentID}
    </update>

    <update id="hideComment" parameterType="Integer">
        UPDATE comment SET commentTime = '1000-01-01 00:00:00' WHERE commentID = #{commentID}
    </update>

    <select id="getDepartmentList" resultType="Department">
        SELECT departmentID, department, departmentAbrev FROM department ORDER BY departmentID
    </select>

    <select id="getCommentList" resultType="Comment">
        SELECT commentID, professor, courseTime, difficulty, prefer, comment, likeCount, commentTime FROM comment WHERE courseID = #{courseID} ORDER BY ${orderField} LIMIT #{offset}, #{limit}
    </select>
</mapper>
