<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Activity" type="org.cssa.wxcloudrun.model.Activity"/>
        <typeAlias alias="SignupInfo" type="org.cssa.wxcloudrun.model.SignupInfo"/>
        <typeAlias alias="User" type="org.cssa.wxcloudrun.model.User"/>
        <typeAlias alias="CourseComment" type="org.cssa.wxcloudrun.model.CourseComment"/>
        <typeAlias alias="Department" type="org.cssa.wxcloudrun.model.Department"/>
        <typeAlias alias="Course" type="org.cssa.wxcloudrun.model.Course"/>
        <typeAlias alias="Product" type="org.cssa.wxcloudrun.model.Product"/>
        <typeAlias alias="Rental" type="org.cssa.wxcloudrun.model.Rental"/>
        <typeAlias alias="OperationLog" type="org.cssa.wxcloudrun.model.OperationLog"/>
        <typeAlias alias="FriendPost" type="org.cssa.wxcloudrun.model.FriendPost"/>
    </typeAliases>
</configuration>