<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SecondHandMapper">

    <select id="getAllProductList" resultType="Product">
        SELECT secondhand.productID, secondhand.productTitle,secondhand.productDescription,
               secondhand.productType,secondhand.time,secondhand.price,secondhand.productCondition,secondhand.contact,secondhand.imagesJSON,secondhand.delivery,
               user.avatar as sellerAvatar, user.nickname as sellerNickname
        FROM secondhand
                 INNER JOIN user on secondhand.userID = user.userID
        ORDER BY secondhand.time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getProductList" resultType="Product">
        SELECT secondhand.productID, secondhand.productTitle,secondhand.productDescription,
               secondhand.productType,secondhand.time,secondhand.price,secondhand.productCondition,secondhand.contact,secondhand.imagesJSON,secondhand.delivery,
               user.avatar as sellerAvatar, user.nickname as sellerNickname
        FROM secondhand
        INNER JOIN user on secondhand.userID = user.userID
        WHERE productType = #{productType}
        ORDER BY secondhand.time DESC
        LIMIT #{offset}, #{limit}
    </select>
    
    <insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productID">
        INSERT INTO secondhand (userID,productTitle,productDescription,productType,price,productCondition,contact,imagesJSON,delivery) VALUES (#{userID},#{productTitle},#{productDescription},#{productType},#{price},#{productCondition}, #{contact}, #{imagesJSON}, #{delivery})
    </insert>
    <select id="collect" resultType="boolean">
        SELECT savedProductJson,userID FROM user WHERE userID = #{userID}
    </select>
    
    <update id="updateCollect">
        UPDATE user 
        SET savedProductJSON = #{savedProductJSON}
        WHERE userID = #{userID}
    </update>

    <select id="getProduct" resultType="Product">
        SELECT secondhand.productID, secondhand.productTitle,secondhand.productDescription,
            secondhand.productType,secondhand.time,secondhand.price,secondhand.productCondition,secondhand.contact,secondhand.imagesJSON,secondhand.delivery,
            user.avatar as sellerAvatar, user.nickname as sellerNickname
        FROM secondhand
        INNER JOIN user on secondhand.userID = user.userID
        WHERE secondhand.productID in
        <foreach item="product" collection="productID" separator="," open="(" close=")" index="index">
            #{product}
        </foreach>
    </select>

    <update id="saveContact">
        UPDATE user SET wechatID = #{contact} WHERE userID = #{userID}
    </update>

</mapper>
