<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SecondHandMapper">

    <select id="getProductList" resultType="Product">
        SELECT productID,sellerAvatar,sellerNickname, productTitle,productDescription,productType,time,price,`condition`,contact,imagesJSON,delivery  FROM secondhand WHERE productID >= #{offest} ORDER BY secondhand.productID  LIMIT #{limit}
    </select>
    
    <insert id="saveProduct" parameterType="Product">
        INSERT INTO product (productID,sellerAvatar,sellerNickname,productTitle,productDescription,productType,time,price,`condition`,contact,imagesJSON,delivery) VALUES (#{productID},#{sellerAvatar},#{sellerNickname},#{productTitle},#{productDescription},#{productType},#{time},#{price},#{'condition'}, #{contact}, #{imagesJSON}, #{delivery})
    </insert>


    <select id="getProduct" resultType="Product">
        SELECT productID, userID, sellerAvatar, sellerNickname, productTitle, productDescription, price, productType, condition, time, contact, images, imagesJSON, delivery FROM product WHERE productID in
        <foreach item="product" collection="productID" separator="," open="(" close=")" index="index">
            #{product}
        </foreach>
    </select>



</mapper>
