<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cssa.wxcloudrun.dao.SecondhandMapper">
    
    <resultMap id="ProductMap" type="Product">
        <result property="productID" column="productID"/>
        <result property="userID" column="user_id"/>
        <result property="productTitle" column="productTitle"/>
        <result property="productDescription" column="productDescription"/>
        <result property="time" column="time"/>
        <result property="price" column="price"/>
        <result property="productCondition" column="productCondition"/>
        <result property="contact" column="contact"/>
        <result property="images" column="images" typeHandler="org.cssa.wxcloudrun.handler.JsonListTypeHandler"/>
        <result property="delivery" column="delivery"/>
        <result property="sellerAvatar" column="sellerAvatar"/>
        <result property="sellerNickname" column="sellerNickname"/>
    </resultMap>

    <select id="getProductList" resultMap="ProductMap">
        SELECT secondhand.productID,
               secondhand.productTitle,
               secondhand.productDescription,
               secondhand.time,
               secondhand.price,
               secondhand.productCondition,
               secondhand.contact,
               secondhand.images,
               secondhand.delivery,
               COALESCE(user.avatar, 1)            as sellerAvatar,
               COALESCE(user.nickname, "微信用户") as sellerNickname
        FROM secondhand
                 LEFT JOIN user on secondhand.user_id = user.id
        WHERE secondhand.time IS NOT NULL
        ORDER BY secondhand.time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="searchProduct" resultMap="ProductMap">
        SELECT secondhand.productID,
               secondhand.productTitle,
               secondhand.productDescription,
               secondhand.time,
               secondhand.price,
               secondhand.productCondition,
               secondhand.contact,
               secondhand.images,
               secondhand.delivery,
               COALESCE(user.avatar, 1)            as sellerAvatar,
               COALESCE(user.nickname, "微信用户") as sellerNickname
        FROM secondhand
                 LEFT JOIN user on secondhand.user_id = user.id
        WHERE secondhand.time IS NOT NULL
        <if test="productTitleFilter.length() != 0">
            AND secondhand.productTitle LIKE CONCAT('%', #{productTitleFilter}, '%')
        </if>
        <if test="conditionFilter != 'ALL'">
            AND secondhand.productCondition = #{conditionFilter}
        </if>
        <if test="deliveryFilter != 'ALL'">
            AND secondhand.delivery = #{deliveryFilter}
        </if>
        ORDER BY secondhand.time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productID">
        INSERT INTO secondhand (user_id, productTitle, productDescription, price, productCondition, contact, images,
                                delivery)
        VALUES (#{userID}, #{productTitle}, #{productDescription}, #{price}, #{productCondition}, #{contact},
                #{images, typeHandler=org.cssa.wxcloudrun.handler.JsonListTypeHandler}, #{delivery})
    </insert>

    <update id="updateSecondHand" parameterType="Map">
        UPDATE secondhand
        SET productTitle       = #{product.productTitle},
            productDescription = #{product.productDescription},
            price              = #{product.price},
            productCondition   = #{product.productCondition},
            time               = #{product.time},
            contact            = #{product.contact},
            delivery           = #{product.delivery},
            time               = CURRENT_TIMESTAMP
        WHERE user_id = #{userID}
          AND productID = #{product.productID}
    </update>


    <select id="getProduct" resultMap="ProductMap">
        SELECT secondhand.productID, secondhand.productTitle,secondhand.productDescription,
        secondhand.time,secondhand.price,secondhand.productCondition,secondhand.contact,secondhand.images,secondhand.delivery,
        user.avatar as sellerAvatar, user.nickname as sellerNickname
        FROM secondhand
        INNER JOIN user on secondhand.user_id = user.id
        WHERE secondhand.time IS NOT NULL AND secondhand.productID = #{productID}
        LIMIT 1
    </select>

    <update id="saveContact">
        UPDATE user
        SET wechat_id = #{contact}
        WHERE id = #{userID}
    </update>


    <select id="getUserSecondhand" parameterType="Map" resultMap="ProductMap">
        SELECT *
        from secondhand
        WHERE user_id = #{userID}
        ORDER BY time DESC
        LIMIT ${offset}, ${limit}
    </select>


    <delete id="deleteSecondHand" parameterType="Map">
        DELETE
        FROM secondhand
        WHERE productID = #{productID}
          AND user_id = #{userID}
    </delete>

</mapper>
