<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">

    <update id="authSuccess" parameterType="String">
        UPDATE user SET isStudent = 1 WHERE userID = #{userID}
    </update>

    <select id="login" parameterType="String" resultType="User">
        SELECT email,nickname, isStudent, avatar, likedCommentJSON FROM user WHERE userID = #{userID}
    </select>

    <insert id="register" parameterType="String">
        INSERT INTO user (userID,nickname) VALUES (#{userID},#{nickname})
    </insert>

    <update id="updateEmail" parameterType="String">
        UPDATE user SET email = #{email} WHERE userID = #{userID}
    </update>
    
    <select id="getLikedCommentList" parameterType="String" resultType="User">
        select userID,likedCommentJSON from user WHERE userID = #{userID}
    </select>

    <update id="updateAvatar" parameterType="Integer">
        UPDATE user SET avatar = #{avatar}
    </update>

</mapper>